body {
    background-color: #121212;
    color: whitesmoke;
    font-family: sans-serif;
}

img {
    float: right;
    height: 87vh;
    width: auto;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.emp {
    position: absolute;
    top: 250px;
    left: 100px;
}
.unl {
    position: absolute;
    top: 300px;
    left: 100px;
}
mark.blue {
    color: whitesmoke;
    background: none;
}

.blue {
    position: relative;
    font-weight: bold;
    color: #007bff;
}

.blue::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 40px;
    background: url('data:image/svg+xml,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 100 10%22%3E%3Cpath d%3D%22M0,5 Q25,0 50,5 T100,5%22 fill%3D%22transparent%22 stroke%3D%22%23007bff%22 stroke-width%3D%222%22/%3E%3C/svg%3E') no-repeat center center; 
    background-size: contain;
}


canvas {
    position: absolute;
    float: right;
    top: 110px;
    right: 0px;
}

/*header CSS */
header{
	display: flex;
	justify-content: space-around;
    background-color: #18329a;
	color: rgb(255, 255, 255);
	align-items:center;
	padding-bottom: 15px;
	padding-top: 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

header h1{
	font-size: 35px;
	font-weight: bolder;

}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar Css */
.navigation ul{
    display: flex;
    list-style-type: none;
	justify-content: center;
    align-items:normal;
    --row-gap: 0;
	font-size: 25px;
    margin-top: .5em;

}

.navigation li{
    width: auto;
    text-align: center;
	padding-bottom: 10px;
}

.navigation a:link, .navigation a:visited{
    color: whitesmoke;
    text-decoration: none;
	font-weight: bold;
}

.navigation a:hover{
	color:rgb(190, 190, 190);
}

.navigation a{
    display: block;
    padding: 5px 0;
}

header ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
  
}
ul {
  padding: 0;
  margin-right: 950px;
  margin-left: 50px;
}
.list {
    font-size: 14px;
    margin-left: 1%;
    padding-top: 20px;
    list-style-type: disc;
    width: 500px;
 }
 .Negative {
    position: absolute;
    left: 50%;
    width: 1000px;
    top: 25%;
 }
 .Positive {
    position: absolute;
    left: 10%;
    width: 1000px;
    top: 25%;
 }
 .verticalLine {
    position: absolute;
    border-left: thick solid #18329a;
    height: 40%;
    width: 50px;
    left: 49%;
    top: 32%;
  }